<div class="container">
  <form>
    <div class="row">
      <div class="col-md-3">
        <input
          type="text"
          class="form-control"
          name="city"
          autocomplete="off"
          placeholder="City"
        />
      </div>
      <div class="col-md-3">
        <input
          type="text"
          class="form-control"
          name="country"
          autocomplete="off"
          placeholder="Country"
        />
      </div>
      <div class="col-md-3">
        <button class="btn btn-warning mt-md-0 text-md-left">
          Get Weather
        </button>
      </div>
    </div>
  </form>
</div>
